<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/site.js"></script>
</head>
<body>
    <div class="jumbotron">
        <div class="container text-center">
            <h1>Student Portal</h1>
        </div>
    </div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li id="index"><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                    <li id="aboutus"><a href="/about/index"><span class="glyphicon glyphicon-exclamation-sign"></span> About Us</a></li>
                    <li id="contactus"><a href="/contact/index"><span class="glyphicon glyphicon-earphone"></span> Contact Us</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user %}
                    <li id="enroll"><a href="/enroll/index"><span class="glyphicon glyphicon-education"></span> Enroll</a></li>
                    <li id="profile"><a href="/profiles/index"><span class="glyphicon glyphicon-briefcase"></span> Profile</a></li>
                    <li id="logout"><a href="/logout"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
                    {% else %}
                    <li id="login"><a href="/login/index"><span class="glyphicon glyphicon-user"></span> Login</a></li>
                    <li id="register"><a href="/register/index"><span class="glyphicon glyphicon-pencil"></span> Registration</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% block body %}
    {% endblock %}
    <div class="navbar-fixed-bottom row-fluid">
        <div class="navbar-inner">
            <div class="container text-center">
                Copyright &copy; 2021
            </div>
        </div>
    </div>
</body>
</html>
